//// COLORS \\\\
:root {
  --bg-color: #141C24;
  --bt-color: whitesmoke;
  --bt-color-hover: #999999;
  --bt-font-color: #222222;
  --bt-font-color-hover: black;
  --h1-font-color: white;
  --card-color: white;
  --info-card-font-color: white;
  --info-card1-color: #c75369;
  --info-card2-color: #fc9d9a;
  --info-card3-color: #f9cdad;
  --info-card4-color: #c8c8a9;
  --info-card5-color: #83af9b;
  --info-card6-color: #93acbd;
  --info-card7-color: #b39ce0;
  --info-cardSlider-color: #867d7d;
  --info-cardEnde-color: #595757;
  --canvas-border-color: gray;
  --info-card-content-color: #fff6ee;
  --lineColor0: #FF0000;
  --lineColor1: #00FF00;
  --lineColor2: #0000FF;
  --lineColor3: #FF00FF;
  --switch-bg-color: #fc9d9a;
}
