//// COLORS \\\\
:root {
  --bg-color: #141C24;
  --bt-color: #555555;
  --bt-font-color: whitesmoke;
  --h1-font-color: white;
  --card-color: white;
  --info-card-font-color: white;
  --info-card-color: #313131;
}
