//// COLORS \\\\
:root {
  --bg-color: #141C24;
  --bt-color: #555555;
  --bt-font-color: whitesmoke;
  --h1-font-color: white;
  --card-color: white;
  --info-card-font-color: white;
  --info-card1-color: #99b998;
  --info-card2-color: #e0ac84;
  --info-card3-color: #f4837d;
  --info-card4-color: #e0475c;
  --info-card5-color: #e0475c;
  --info-cardEnde-color: #e0475c;
  --canvas-border-color: gray;
  --info-card-content-color: #ffeeca;
}
