@import "constants";

body {
  margin: 0;
  background-color: var(--bg-color);
}

h1 {
  position: absolute;
  left: 1em;
  top: 1em;
  color: var(--h1-font-color);
  margin: 0;
}

h1.positionStatic {
  position: static;
  margin: 1em;
}

button {
  height: 2em;
  font-size: 1em;
  border-radius: 4rem;
  border: 0;
  width: 15em;
  background-color: var(--bt-color);
  color: var(--bt-font-color);

  &:hover {
    background-color: var(--bt-font-color);
    cursor: pointer;
  }
}

canvas{
  border: var(--canvas-border-color) solid 2px;
}



///////////// STYLE INDEX.HTML \\\\\\\\\\\\\\
#links {
  display: flex;
  justify-content: space-around;

  .card {
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;

    margin: 1em;
    width: 25em;
    min-width: 20%;
    height: 40em;
    border-radius: 2rem;

    background-color: var(--card-color);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.card1{
      background-image: url("../img/lineareInterpolation.png");
    }

    &.card2{
      background-image: url("../img/hermite.png");
    }

    &.card3{
      background-image: url("../img/bezier.svg");
    }


    &:hover{
      cursor: pointer;

      .heading{
        transform: scale(1);
        opacity: 0.8;
      }
    }

    .heading {
      transform: scale(2);
      opacity: 0;
      transition: .5s;
    }
  }

  .heading {
    margin: auto;
    word-break: break-word;
    font-size: clamp(1rem, 3vw, 4rem);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: black;
  }
}


////////// ACCORDION \\\\\\\\\\
#cards{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 3%;

  .collapse{
    .upper-content {
      text-decoration: none;
      border-left: 12px solid rgba(0, 0, 0, 0.12);
      height: 5em;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h2 {
        margin: 0 0 0 2%;
        color: var(--info-card-font-color);
      }
    }
  }

  .content{
    max-height: 0;
    border-left: 12px solid rgba(0, 0, 0, 0.12);
    transition: all 0.65s cubic-bezier(1, 0, 0.41, 1.01);
    overflow: hidden;

    .inner-content {
      padding: 1.8rem;
    }
  }

  .collapse.active {
    .content {
      max-height: 200px; //TODO: keine Pixel
    }
  }
}


#card1{
  background-color: var(--info-card1-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#card2{
  background-color: var(--info-card2-color);
}

#card3{
  background-color: var(--info-card3-color);
}

#card4{
  background-color: var(--info-card4-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

