body {
  margin: 0;
  background-color: #141C24;
}

h1 {
  position: absolute;
  left: 5%;
  top: 5%;
  color: white;
}

button {
  height: 2em;
  font-size: 1em;

  &:hover {
    background-color: pink;
  }
}
