input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchWrapper{
  display: flex;
  justify-content: start;
  align-items: center;

  span{
    margin: 3%;
  }
}

#switchLabel {
  cursor: pointer;
  text-indent: -99rem;
  width: 4rem;
  height: 2.5rem;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#switchLabel:after {
  content: '';
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 1.8rem;
  height: 1.8rem;
  background: #fff;
  border-radius: 9rem;
  transition: 0.3s;
}

input:checked + #switchLabel {
  background: #bada55;
}

input:checked + #switchLabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
